<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">JIANGkui1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!--打印和格式化sql语句-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!--<mapping resource="domain/Account-orm.xml"/>-->
        <!--<mapping resource="domain/User-orm.xml"/>-->
        <!--<mapping resource="domain/Role-orm.xml"/>-->
        <mapping class="domain.User"/>
        <mapping class="domain.Role"/>
        <mapping class="domain.Account"/>
    </session-factory>
</hibernate-configuration>